config/acme.json
config/frontend/*.js
config/gateway/mapping.yaml
config/peatio/management_api_v1.yml
config/toolbox.yaml
config/traefik.toml
config/*.env
config/secrets/*
compose/*.yaml
config/arke/*.yaml
config/gateway/envoy.json
config/gateway/envoy.yaml
!config/secrets/.gitkeep
config/peatio/seed/*
!config/peatio/seed/.gitkeep
vendor/
!vendor/.gitkeep
.terraform/
*.tfvars
terraform.tfstate*
!data/geth/.gitkeep
